<div class="card">
  <div class="card-content">
    <a class="card-title" href="/movie/{{id}}">
      {{ content }}
    </a>
  </div>
  <div class="card-action">
    <a href="/user/{{ author.id }}" class="">{{ author.local.email }}</a>
    <span class="movie__date">{{ createdAt }}</span>
    <span class="movie_comments">{{ comments.length }} Comments</span>
  </div>
</div>
